# Version Control
.git/
.github/
.gitignore

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Local Infrastructure Files
docker-compose.yml
docker-compose.*.yml
.dockerignore

# Documentation
README.md
LICENSE

# Local Environment Variables
.env
.env.*